.header {
    display: flex;
    align-items: center;
    background-color: #2a3f5f; /* Dark blue background */
    color: white;
    padding: 2px 5px;
}

.loadBalancerName {
    flex-grow: 1;
}

.switches {
    display: flex;
}

.switch {
    background-color: #345b7e; /* Standard inactive state: Deep sky blue */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.switch.active {
    background-color: #1a8cd8; /* Active state: Brighter blue */
}

.switch:not(.active):hover {
    background-color: #157ab3; /* Hover state: Medium blue */
}
