.header {
    display: flex;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
}

.loadBalancerName {
    flex-grow: 1;
}

.switches {
    display: flex;
}

.switch {
    background-color: #34495e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.switch.active {
    background-color: #1abc9c;
}

.switch:not(.active):hover {
    background-color: #16a085;
}
