.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
    align-items: flex-start;
}

.chartBox {
    flex-grow: 1;
    margin: 10px;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.entryPoints {
    width: 200px;
    height: auto;
    background-color: #bdc3c7;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entryPoints h2,
.chartBox h2 {
    margin-top: 0;
    color: #2c3e50;
}

.entryPoints ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.entryPoints li {
    padding: 5px 0;
    font-size: 16px;
    color: #2c3e50;
}

.entryPoints li:hover {
    background-color: #dfe6e9;
    cursor: pointer;
}

.chartBox, .entryPoints {
    transition: box-shadow 0.3s ease-in-out;
}

.chartBox:hover, .entryPoints:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
