@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  background-color: #ecf0f1;
  color: #2c3e50;
  height: 100%;
  overflow: auto;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #2c3e50;
  padding: 10px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App-header h1 {
  margin: 0;
  font-size: 2.5em;
  text-align: left;
}

.App-main {
  padding: 10px;
  margin-top: 20px;
}

.App-footer {
  width: 100%;
  padding: 10px 20px;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.App-footer .footerContent {
  font-size: 16px;
}

@media (max-width: 768px) {
  .App-header h1 {
    font-size: 1.5em;
  }

  .App-header .switch {
    padding: 8px 16px;
  }

  .App-main {
    padding: 10px;
  }

  .App-footer .footerContent {
    font-size: 14px;
  }
}

.header {
    display: flex;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    padding: 5px 10px;
    border-bottom: 2px solid #1a8cd8;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.loadBalancerName {
    flex-grow: 1;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    background: linear-gradient(30deg, #ffffff, #d1d2f7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}

.switches {
    display: flex;
}

.switch {
    background-color: #1a8cd8;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
}

.switch.active {
    background-color: #d1d2f7;
}

.switch:not(.active):hover {
    background-color: #49d1ff;
}
